# Employment History

In this project we are provided a PDF file as the source (`employee_history.pdf`). This PDF file contains Tabular data, that we need to read and map to tables accordingly. This PDF has been generated using a custom dataset generator, populated with mock data.

## Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import PyPDF2 as pdf

In [3]:
%matplotlib inline

## Data Collection

From looking at the pdf file, we can observe that, we have one employee per page, thus we can say that `num_employees = num_pages`.

In every page, we have two sections:
- Basic Info [Employee Name, Date Of Birth, Organization, Location, Department, Designation]
- Posting History [Designation, Department, Organization, Location, From Date, To Date, Pay grade]

For better explainability we will separately consolidate for both the sections. For each section we will perform the following steps:
- Iterate through all pages
- For each page, Search for the section title (eg. Posting History)
- Find the keywords, and populate the corresponding values as a row in the respective dataframe

After consolidation we will have two dataframes, that have a relationship through EMP_ID (employee ID):
- basic_info
- posting_history

In [10]:
file_name = 'employee_history.pdf'

pdf_file = open(file_name, 'rb')
reader = pdf.PdfFileReader(pdf_file)

num_pages = reader.numPages
num_pages

300

In [15]:
# Sample
page = reader.getPage(0)
print(page.extract_text())

Employee ID: 1
Employee Name:
Date Of Birth:
Organization:
Location:
Department
Designation:
Posting History
Designation
Department
Organization
Location
From Date
To Date
Pay Grade
Mr. Ecdwsg Jzxuatfx
1986-04-30
Cdxnpcqzb
Bspgkq, VP
Security
Security Engineer II
Security Engineer I
Security
Gzqsvu
Jzke, ER
2004-04-25
2016-10-05
1400000
Security Engineer I
Security
Jknleampe
Ivhese, JD
2016-10-06
2020-03-22
1700000
Security Engineer I
Security
Ofvyterxnkm
Yelldcaibr, BS
2020-03-23
2021-10-22
1200000
Senior Security Engineer
Security
Swgr
Qfvgfppf, JR
2021-10-23
2021-12-14
700000
Security Engineer II
Security
Cdxnpcqzb
Bspgkq, VP
2021-12-15
2022-01-06
2000000

Here when we compare the result of the reader to the pdf, we observe the following pattern:

| Line No. | Line | Type |
|----------|------|------|
|1| Employee ID | Basic Info Header |
|2| Employee Name | Header
|3| Date Of Birth | Header
|4| Organization | Header
|5| Location | Header
|6| Department | Header
|7| Designation | Header
|8| Posting History | Posting History Header
|9| Designation | Header
|10| Department | Header
|11| Organization | Header
|12| Location | Header
|13| From Date | Header
|14| To Date | Header
|15| Pay Grade | Header
|16| Mr. Ecdwsg Jzxuatfx | Basic Info / Value
|17| 1986-04-30  | Basic Info / Value
|18| Cdxnpcqzb  | Basic Info / Value
|19| Bspgkq, VP  | Basic Info / Value
|20| Security  | Basic Info / Value
|21| Security Engineer II  | Basic Info / Value
|22| Security Engineer I  | Posting History / Value
|23| Security | Posting History / Value
|24| Gzqsvu | Posting History / Value
|25| Jzke, ER | Posting History / Value
|26| 2004-04-25 | Posting History / Value
|27| 2016-10-05 | Posting History / Value
|28| 1400000 | Posting History / Value
|...|...|...|

### Basic Info

In [83]:
def get_basic_info(lines):
    page_df = pd.DataFrame()
    lines = lines.split('\n')
    emp_id = lines[0].split(': ')[1]
    ptr = 1
    col_headers = []
    while lines[ptr] != 'Posting History':
        col_headers.append(lines[ptr].strip(':'))
        ptr+=1

    ptr += 8
    row = {'ID': emp_id}
    for col in col_headers:
        row[col] = lines[ptr]
        ptr+=1

    page_df = page_df.append(row, ignore_index = True)
    
    return page_df

### Posting History

In [111]:
def get_posting_info(lines):
    page_df = pd.DataFrame()
    lines = lines.split('\n')
    emp_id = lines[0].split(': ')[1]
    ptr = 8
    col_headers = []
    while ptr < 15:
        col_headers.append(lines[ptr])
        ptr+=1

    ptr+=6
    while ptr < len(lines):
        if lines[ptr] != '':
            row = {'ID': emp_id}
            for col in col_headers:
                row[col] = lines[ptr]
                ptr+=1
        else: break
        page_df = page_df.append(row, ignore_index = True)

    return page_df

In [119]:
basic_info = pd.DataFrame()
posting_info = pd.DataFrame()

for i in range(num_pages):
    page = reader.getPage(i)
    lines = page.extract_text()
    basic_info = basic_info.append(get_basic_info(lines), ignore_index = True)
    posting_info = posting_info.append(get_posting_info(lines), ignore_index = True)

#basic_info.reset_index(drop=True)
#posting_info.reset_index(drop=True)

In [120]:
basic_info.head()

,ID,Employee Name,Date Of Birth,Organization,Location,Department,Designation
0,1,Mr. Ecdwsg Jzxuatfx,1986-04-30,Cdxnpcqzb,"Bspgkq, VP",Security,Security Engineer II
1,2,Mrs. Urrpzlb Auuqf,1988-07-08,Cdxnpcqzb,"Ticcgpcwxox, TA",Customer Support,Senior Support Engineer
2,3,Ms. Qfahmr Ggpwdwd,1976-10-29,Cdxnpcqzb,"Rvryjrjji, AL",Accounts,Account Manager
3,4,Mrs. Eazzqcog Kmzo,1982-01-05,Cdxnpcqzb,"Fvwbi, TS",Customer Support,Junior Support Engineer
4,5,Mrs. Noxv Rqpycrge,1995-01-01,Cdxnpcqzb,"Swskebchlvs, QE",Customer Support,Junior Support Engineer

In [121]:
posting_info.head(15)

,ID,Designation,Department,Organization,Location,From Date,To Date,Pay Grade
0,1,Security Engineer I,Security,Gzqsvu,"Jzke, ER",2004-04-25,2016-10-05,1400000
1,1,Security Engineer I,Security,Jknleampe,"Ivhese, JD",2016-10-06,2020-03-22,1700000
2,1,Security Engineer I,Security,Ofvyterxnkm,"Yelldcaibr, BS",2020-03-23,2021-10-22,1200000
3,1,Senior Security Engineer,Security,Swgr,"Qfvgfppf, JR",2021-10-23,2021-12-14,700000
4,1,Security Engineer II,Security,Cdxnpcqzb,"Bspgkq, VP",2021-12-15,2022-01-06,2000000
5,2,Junior Support Engineer,Customer Support,Mohixzup,"Rvryjrjji, AL",2006-07-04,2008-04-20,2000000
6,2,Customer Support Manager,Customer Support,Oqcugctmdyxo,"Whlay, PN",2008-04-21,2019-10-31,1700000
7,2,Customer Support Manager,Customer Support,Zihrqct,"Lmjdtngzzc, DZ",2019-11-01,2021-11-01,1500000
8,2,Junior Support Engineer,Customer Support,Ilgnytduxagz,"Alennxymgmxb, TA",2021-11-02,2021-11-26,800000
9,2,Junior Support Engineer,Customer Support,Zrcilrlvcz,"Nfhlqopggrmu, LV",2021-11-27,2021-12-30,2000000
10,2,Customer Support Manager,Customer Support,Pozqu,"Dtontmlks, FP",2021-12-31,2022-01-03,900000
11,2,Customer Support Manager,Customer Support,Enwzcejjif,"Qfvgfppf, JR",2022-01-04,2022-01-04,1900000
12,2,Junior Support Engineer,Customer Support,Hwktsddmhf,"Laqhbupxl, RC",2022-01-05,2022-01-06,1000000
13,2,Senior Support Engineer,Customer Support,Cdxnpcqzb,"Ticcgpcwxox, TA",2022-01-07,2022-01-06,400000
14,3,Account Engineer,Accounts,Jtnvueoaso,"Tbposhikbtg, OH",1994-10-25,2001-11-07,2600000

In [ ]:
pdf.close()